body {
    display: grid;

    grid-template-columns: 1fr 7fr;

    width: 100vw;
    height: 100vh;

    position: absolute;

    top: 0;
    left: 0;

    margin: 0;
    padding: 0;
}

#fs {
    grid-column: 1;
    
    border-right: black solid 1px;

    height: 100%;
    
    margin-left: 10px;
}

#note {
    grid-column: 2;

    height: 100%;
}

#note > span {
    display: flex;
    text-align: center;
    justify-content: center;
}

#note > span > p {
    position: absolute;
    top: 50%;
}

.file, .folderName {
    width: fit-content;

    padding-left: 2px;
    padding-right: 2px;

    margin-top: 5px;
}

.file {
    background-color: white;
    border: none;

    cursor: pointer;
}

.file:hover, .folderName:hover {
    background-color: lightgray;
    border-radius: 5px;
}

.otherFile {
    color: gray;
}